<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Shop</title>
    <style>
      body {
        box-sizing: border-box;
      }

      textarea {
        height: 300px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <img src="cid:unique@kreata.ee" width="300px" />
      <div>
        <p>Your Verification code: <%= code %></p>
      </div>
    </div>
  </body>
</html>                                                                                                                                             